.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project
/bin/
/Libs/
/.settings/
/.classpath
.svn/
*.log

.cache/

.DS_Store
Saddleback Automation.prj
settings/internal/com.kms.katalon.core.webui.remote.properties
Saddleback Automation.prj
